<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="color" v-for="deg in 24">
            <div v-for="inx in indexs" :class="`color-${deg}-${inx}`">
                <template v-if="inx === 6">#</template>
            </div>
        </div>
    </div>
    <script src="/app.bundle.js"></script>
</body>
</html>
