<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>自定义颜色</p>
        <div class="color" v-for="color in colors">
            <div v-for="inx in indexs" :class="`color-${color}-${inx}`">
                <template v-if="inx === 6">#</template>
            </div>
        </div>

        <p>色轮</p>
        <div class="hue" v-for="hue in 24">
            <div v-for="inx in indexs" :class="`hue-${hue}-${inx}`">
                <template v-if="inx === 6">#</template>
            </div>
        </div>
    </div>
    <script src="/app.bundle.js"></script>
</body>
</html>
