.color-1 {
    background: #fff2f0;
}
.color-2 {
    background: #ffd5cf;
}
.color-3 {
    background: #ffafa6;
}
.color-4 {
    background: #f27f77;
}
.color-5 {
    background: #e6514c;
}
.color-6 {
    background: #d92424;
}
.color-7 {
    background: #b3151b;
}
.color-8 {
    background: #8c0a13;
}
.color-9 {
    background: #66020c;
}
.color-10 {
    background: #400109;
}
