.color-1 {
    color: #fff2f0;
}
.color-2 {
    color: #ffd5cf;
}
.color-3 {
    color: #ffafa6;
}
.color-4 {
    color: #f27f77;
}
.color-5 {
    color: #e6514c;
}
.color-6 {
    color: #d92424;
}
.color-7 {
    color: #b3151b;
}
.color-8 {
    color: #8c0a13;
}
.color-9 {
    color: #66020c;
}
.color-10 {
    color: #400109;
}
