.color-1 {
    background: palette(#d92424, 1);
}
.color-2 {
    background: palette(#d92424, 2);
}
.color-3 {
    background: palette(#d92424, 3);
}
.color-4 {
    background: palette(#d92424, 4);
}
.color-5 {
    background: palette(#d92424, 5);
}
.color-6 {
    background: #d92424;
}
.color-7 {
    background: palette(#d92424, 7);
}
.color-8 {
    background: palette(#d92424, 8);
}
.color-9 {
    background: palette(#d92424, 9);
}
.color-10 {
    background: palette(#d92424, 10);
}
